# --- Node / Dependências ---
node_modules/
dist/
dist-ssr/
*.local

# --- Segurança (CRÍTICO) ---
# Ignora arquivos de configuração sensíveis em qualquer pasta
.env
.env.*
!.env.example

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Prisma ---
# Ignora o banco de dados local se você usar SQLite um dia, 
# mas permite as migrations (que são o histórico do banco)
/backend/prisma/dev.db
/backend/prisma/dev.db-journal

# --- IDEs / Editores ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?

# --- TypeScript ---
*.tsbuildinfo