# Configuração do Banco de Dados (MySQL)
# Substitua 'usuario', 'senha' e 'nome_do_banco' pelos seus dados locais
DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"

# Segurança do Token JWT
# Escolha uma frase secreta longa e segura para assinar os tokens
JWT_SECRET="sua_chave_secreta_aqui_muito_segura_123"

# Porta do Servidor
PORT=3333