/* Garante que o app ocupe a tela toda sem scroll no body */
html, body, #root, .main-app-container {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

.main-app-container {
  display: flex;
  flex-direction: column;
}

.layout-body {
  display: flex;
  flex: 1; /* Ocupa o resto da altura abaixo do header */
  overflow: hidden;
}

.conteudo-principal {
  flex: 1; /* Ocupa todo o espaço restante ao lado da sidebar */
  overflow-y: auto; /* O scroll acontece APENAS aqui dentro */
  position: relative;
background-color: var(--cor-fundo-sutil);  /* Cor de fundo base */
}