:root {
  --cor-principal: #aab193; 
  --cor-secundaria: #b9bea4; 
  --cor-hover: #8f9679; 
  --cor-fundo: #ffffff; 
  --cor-texto: #000000; 
  --cor-fundo-sutil: #f7f7f7; 
  --cor-ativo-fundo: #e0e6c9; 
  --cor-circle-fundo: rgba(170, 177, 147, 0.2); 
}